/* Основные стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

/* Темная тема */
body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

body.dark-mode .container {
    background-color: #444;
}

/* Стиль кнопок */
button {
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

/* Фильтры и формы */
form, #filters {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input, textarea, select {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#filters {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

/* Список задач */
ul {
    list-style-type: none;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

li button {
    background-color: #d9534f;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

li button:hover {
    background-color: #c9302c;
}

